@import url('');
.headerStyle{
    background: #026345;
    height: 85px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.addPatientButton{
    background-color: #EBFEF5;
    color:#01523C;
    font-weight: bold;
    font-size: 23px;
    border:none;
    border-radius: 8px;
    padding-top: 5px;
    height:50px;
    margin-top:15px;
    margin-right:7px;
    cursor: pointer;
    transition: 0.3ms;
}
.addPatientButton:hover{
    background-color: #01523C;
    color:white;
}
.addPatientButton:active{
    opacity: 0.2;
}
.loginStyle{
    border-color: #026345;
    border-style:solid;
    border-width: 1px;
    width: 350px;
    height: 400px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.emailStyle{
    color:#01523C;
    font-size: 23px;
    margin:0;
    padding:0;

}
.box{
    height:30px;
    width:300px;
    background-color: #9FE6C9;
    margin: auto;
    border-width: 1px;
    border-color: #026345;
}
.login{
    background-color: #026345;
    height:50px;
    color:white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border:none;
    cursor: pointer;
    
}
.login:hover{
    opacity: 0.8;
}
.login:active{
    opacity: 0.3;
}