@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.headerStyle{
    background: #026345;
    height: 85px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.addPatientButton{
    background-color: #EBFEF5;
    border:none;
    border-radius: 8px;
    padding-top: 5px;
    height:50px;
    margin-top:15px;
    margin-right:7px;
    cursor: pointer;
    transition: 0.3ms;
}
.addPatientButton:hover{
    opacity: 0.8;
}
.addPatientButton:active{
    opacity: 0.2;
}

.loginArea{
    border: 2px solid #01523C;
    margin: auto;
    margin-top: 100px;
    max-width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.firstArea{
    margin-top: 80px;
    padding: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.pass{
    color:#01523C;
    font-size:18px;
    margin-bottom: 0px;
}

.logInButton{
    background-color: #EBFEF5;
    border: 2px solid #01523C;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin: 15px;
    margin-top: 0px;
    cursor: pointer;
    
}
.logInButton:hover{
    background-color:#01523C;
    color:#EBFEF5;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
 }

.logInButton:active{
    opacity: 0.2;
}
.testButtonsLink{

    color:#01523C;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.testButtonsLink:hover{
    
    color:#EBFEF5;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.inputStyle{
    background-color: #9FE6C9;
    border:none;
    padding:8px;
    width: 250px;
    display: block;
    margin : 0 auto;
}

.imgStyle{
    margin-left: 20px;
    height: 85px ; 
}



.icons{
    color:#01523C;
    font-size: 25px;
}

.textSignup{
    text-align: center;
    color:#01523C;
    margin-bottom: 0px;
    font-weight: 500;
    margin-bottom: 0px;
}

.signupButton{
    background-color: #01523C;
    border:none;
    color:white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin-top: 0px;
}

.lastArea{
    margin-top: 30px;
    max-width: 300px
}

.linkStyle{
    color:white;
    text-decoration: none;
}
.linkStyleForAdd{
    
    color:#01523C;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;

}

.tableStyle{
    margin-top: 50px;
    margin-left: 50px;
    border-collapse: collapse;
    
}

.tHeadStyle{
    padding:10px 20px 10px 20px ;
    color: white;
    background-color: #54997F;
    border:2px solid white;
}
.tBodyStyle{
    background-color: #9fe6c842;
    padding: 2px 20px 2px 20px;
    border:2px solid white;
    color:black;
    text-align: center;
}
.viewButton{
    background-color: #01523C;
    border:none;
    border-radius: 5px;
    padding:5px 20px 5px 20px; 
    color:rgb(189, 172, 172);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.viewButton:hover{
    opacity:0.7;
}
.viewButton:active{
    opacity:0.2;
}


.editButton{
    background-color: #374B43;
    border:none;
    border-radius: 5px;
    padding:8px 20px 8px 20px; 
    color:white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.editButton:hover{
    opacity:0.7;
}
.editButton:active{
    opacity:0.2;
}


.deleteButton{
    background-color: #c7000096;
    border:none;
    border-radius: 5px;
    padding:8px 13px 8px 13px; 
    color:white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.deleteButton:hover{
    opacity:0.7;
}
.deleteButton:active{
    opacity:0.2;
}



.errorMessageStyle{
    max-width: 300px;
    margin-top: 100px;
    text-align: center;
}

.headingTag{
    margin-top:50px;
    color:#79BFA3;
    text-align: center;
}

.patientInfo{
    
    margin-top:50px;
    margin-left: 80px;
    font-weight: bold;
    max-width: 1200px;
    background-color: #EBFEF5;
    padding: 5px 15px 5px 15px;
}
.patientInfoText{
    font-weight: 400;
    margin-left: 10px;
}

.rightButtons{
    background-color: #2E4774;
    border:none;
    border-radius: 5px;
    padding:8px 20px 8px 20px; 
    color:white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.rightButtons:hover{
    opacity:0.7;
}
.rightButtons:active{
    opacity:0.2;
}
.backButtons{
    background-color: #374B43;
    border:none;
    border-radius: 5px;
    padding:8px 10px 8px 10px; 
    color:white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.backButtons:hover{
    opacity:0.7;
}
.backButtons:active{
    opacity:0.2;
}
.formStyle{
    display: block;
    margin:0 auto;
    margin-top: 50px;
    background: #9FE6C9;
    padding: 20px 20px 10px 20px;
    max-width: 300px;
}


.infoInputStyle{
    background-color: white;
    border:none;
    padding:8px;
    width: 250px;
    display: block;
    margin : 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
.selectStyle{
    background-color: white;
    border:none;
    padding:8px;
    width: 270px;
    display: block;
    margin : 0 auto;
    margin-bottom: 5px;
    margin-top: 10px;
}
.smallerBoxButtonsDiv{
    margin-top: 25px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px 15px 20px;   
}
.endButtonDiv{
    
    margin: 0px 150px 0px 150px;
    margin-top: 25px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px 15px 20px;
 
}

.questionDiv{
    
    margin-top:100px;
    margin-left: 80px;
    font-weight: bold;
    max-width: 1200px;
    padding: 5px 15px 5px 15px;
}
.confirmation{
    
    margin: 0 auto;
    max-width: 500px;
    margin-left: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.answerButtons{
    background-color: #E8F3F5;
    border: 2px solid #01523C;
    width:350px;
    text-align: left;
    font-size: 30px; 
    cursor: pointer; 
    color:#01523C;
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 7px;
}
.answerButtons:hover{
    opacity: 0.8;
}

.answerButtons:active{
    opacity: 0.2;
}

.answerButtonsLink{
    
    color:#01523C;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.questionText{
    font-size: 20px;
}